
<script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
<script>
  (adsbygoogle = window.adsbygoogle || []).push({
    google_ad_client: "ca-pub-8082278379999500",
    enable_page_level_ads: true
  });
</script>

<!-- Page Header -->
<header class="masthead"
		style="background-image: url('https://image.freepik.com/free-vector/isometric-infographic-with-charts-people_52683-977.jpg')"
>
	<div class="overlay"></div>
	<div class="container">
		<div class="row">
			<div class="col-lg-8 col-md-10 mx-auto">
				<div class="site-heading">

				</div>
			</div>
		</div>
	</div>
</header>

<!-- Main Content -->
<div class="container">
	<div class="row">
		<div class="col-lg-8 col-md-10 mx-auto">
			{{ range first 4 (where .Data.Pages "Type" "post") }}
				<div class="post-preview">
					{{ .Render "li" }}
				</div>
			{{ end }}
			<hr>

			<!-- Pager -->
			<div class="clearfix">
				<a href="/post" class="btn btn-primary float-right" >Older Posts &rarr;</a>
			</div>
		</div>
		<div class="col-lg-2">
			{{ partial "profile" . }}
		</div>

	</div>
</div>

<hr>
