<div class="card profile-container" style="width: 16rem;">
    <div class="text-center">
        <img class="img-thumbnail mt-3" width="120" src="/img/profile-pic.jpg" alt="Sanath Samarasinghe">
    </div>
    <div class="card-body">
        <h5 class="card-title side-card-title">Sanath Samarasinghe</h5>
        <small class="subtitle">Full-stack developer</small>

        <br>
        <a class="badge badge-info" href="https://reactjs.org/" target="_blank">#react</a>
        <a class="badge badge-info" href="https://facebook.github.io/react-native/" target="_blank">#react-native</a>
        <a class="badge badge-info"  href="https://nodejs.org/en/" target="_blank">#nodejs</a>
        <a class="badge badge-info" href="http://php.net/" target="_blank">#php</a>
        <a class="badge badge-info" href="https://laravel.com/" target="_blank">#laravel</a>
        <a class="badge badge-info" href="https://symfony.com/" target="_blank">#symfony</a>

        <div class="dropdown-divider"></div>
        <ul class="list-group list-group-flush">
            <li class="list-inline-item">
                <a href="https://github.com/sanathks" target="_blank">
                <span class="fa-stack">
                  <i class="fas fa-circle fa-stack-2x"></i>
                  <i class="fab fa-github fa-stack-1x fa-inverse"></i>
                </span>
                    @sanathks
                </a>
            </li>
            <li class="list-inline-item">
                <a href="https://www.linkedin.com/in/sanathsamarasinghe/" target="_blank">
                <span class="fa-stack">
                  <i class="fas fa-circle fa-stack-2x"></i>
                  <i class="fab fa-linkedin-in fa-stack-1x fa-inverse"></i>
                </span>
                    @sanathsamarasinghe
                </a>
            </li>
            <li class="list-inline-item">
                <a href="https://twitter.com/serrexlabs" target="_blank">
                <span class="fa-stack ">
                  <i class="fas fa-circle fa-stack-2x"></i>
                  <i class="fab fa-twitter fa-stack-1x fa-inverse"></i>
                </span>
                    @serrexlabs
                </a>
            </li>
        </ul>
        <div class="dropdown-divider"></div>
        <a href="http://www.zend.com/en/yellow-pages/ZEND031072" target="_blank">
            <img src="http://www.zend.com/training-images/logos/zce-2017-php-80x80.gif" width="40" alt="">  Zend Certified Engineer
        </a>
    </div>
</div>
